header 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

#titre_principal
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#logo
{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
}

#logo img
{
    margin-left: 6%;
    width: 300px;
    height: 100px;
    max-width: 100%;
    height: auto !important;
}

#Menu_Principal
{
    display:flex;
    flex-direction: row;
    justify-content: center; /* centre le menu contextuel du haut */
}

.myButton {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color:#768d87;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#6c7c7c;
}
.myButton:active {
    position:relative;
    top:1px;
}

#connexion
{
    position:absolute;
    top:0;
    right:150;
}

#inscription
{
    position:absolute;
    top:0;
    right:10;
}

#connexion_2
{
    margin-top:20px;
    margin-bottom:20px;
}


/* Pour la partie resultat connecté */
/* ******************************** */

#bookme
{
    display: flex;
    flex-direction: column;
}

#bookme a
{
    margin-bottom: 10px;
}

/* FIN partie resultat connecté */
/* ******************************** */

button
{
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color:#768d87;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    text-align:center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#myModal fieldset
{
    display:inline-block;
}

textarea
{
display:inline-block;
width:300px;
max-width:100%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#Menu_Principal
{
    display:flex;
    flex-direction: row;
    justify-content: center; /* centre le menu contextuel du haut */
}

header h1
{
    font-family: 'poppinsregular' ,'Trebuchet M5',serif, sans-serif;
    font-size: 3.5em;
    font-weight: normal;
    margin: 0 0 10px 10px;
}

header h2
{
    font-family: 'poppinsregular' ,'Trebuchet M5',serif, sans-serif;
    font-size: 1.5em;
    margin-top: 15px;
    font-weight: normal;
}

nav ul{
    display: table;
    width: 1250px;
    max-width: 1250px;
    margin-bottom: 25px;
    padding: 0;
    background: dodgerblue;
    background: linear-gradient(deepskyblue, dodgerblue);
    background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}
nav ul li{

    display: table-cell;
    background:dodgerblue;
    background:-webkit-linear-gradient(deepskyblue,dodgerblue);
    background:   -moz-linear-gradient(deepskyblue,dodgerblue);
    background:    -ms-linear-gradient(deepskyblue,dodgerblue);
    background:     -o-linear-gradient(deepskyblue,dodgerblue);
    background:        linear-gradient(deepskyblue,dodgerblue);
}

nav ul li a{
    display: block;
    position relative;
    text-align: center;
    text-decoration: none;
    padding: 8px 8px 17px 8px;
    color:black;
    color: rgba(0,0,0,.7);
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.7) inset, 
                0 -1px 0 hsl(210,100%,32%) inset,
                0 -2px 0 hsl(210,100%,38%) inset,
                0 -3px 0 hsl(210,100%,44%) inset,
                0 -4px 0 hsl(210,100%,50%) inset,
                0 -5px 0 hsl(210,100%,60%) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.7) inset, 
                0 -1px 0 hsl(210,100%,32%) inset,
                0 -2px 0 hsl(210,100%,38%) inset,
                0 -3px 0 hsl(210,100%,44%) inset,
                0 -4px 0 hsl(210,100%,50%) inset,
                0 -5px 0 hsl(210,100%,60%) inset;
    -webkit-transition: all .3s .1s;
       -moz-transition: all .3s .1s;
        -ms-transition: all .3s .1s;
         -o-transition: all .3s .1s;
            transition: all .3s .1s;


}

nav ul li:first-child,
nav ul li:first-child a{
    border-radius: 3px 0 0 3px;
}

nav ul li:last-child,
nav ul li:last-child a{
    border-radius: 0 3px 3px 0;
}

nav ul li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}

nav ul li a:hover, 
nav ul li a:focus{
    background:#51c3fa;
    background: rgba(255,255,255,.2);
    padding:8px 25px 17px 25px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.7) inset, 
                0 -1px 0 hsl(210,100%,42%) inset,
                0 -2px 0 hsl(210,100%,48%) inset,
                0 -3px 0 hsl(210,100%,54%) inset,
                0 -4px 0 hsl(210,100%,60%) inset,
                0 -5px 0 hsl(210,100%,70%) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.7) inset, 
                0 -1px 0 hsl(210,100%,42%) inset,
                0 -2px 0 hsl(210,100%,48%) inset,
                0 -3px 0 hsl(210,100%,54%) inset,
                0 -4px 0 hsl(210,100%,60%) inset,
                0 -5px 0 hsl(210,100%,70%) inset; 
    -webkit-transition: all .3s 0s;
       -moz-transition: all .3s 0s;
        -ms-transition: all .3s 0s;
         -o-transition: all .3s 0s;
            transition: all .3s 0s;
}

nav ul li a:active{
    background: #09c;
    background: rgba(0,0,0,.15);
    background: -webkit-linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    background:    -moz-linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    background:     -ms-linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    background:      -o-linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    background:         linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

nav ul li a::before{
content:'';
width:4px;height:4px;
background:rgba(0,0,0,.2);
border-radius:50%;
position:absolute;
left:50%;
bottom:9px;
}
nav ul li a:hover::before{
background:white;
-webkit-box-shadow:0 -1px 0 rgba(0,0,0,.4);
box-shadow:0 -1px 0 rgba(0,0,0,0.4);
}


section
{
	display: flex;
    flex-direction: column;
    align-items: center; /* aligne les encadré des titres des paragraphes */
}

article
{

    margin-left: auto;
    margin-right: auto;
    width: 90%;
	max-width: 1890px;
    margin-left:5%;
    margin-right:5%;
    display: flex;
    flex-direction: column;
    align-items: center; /* aligne les encadré des titres des paragraphes */
    flex-wrap: wrap;
    position: relative;
    background: skyblue;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 2px;
    color: black;
    margin-bottom: 15px;
}

article h1
{
    height: auto;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: 1.6em;
    text-align:center;
}

article img
{
    height: 76px;
    width: 76px;
}

article p
{
	margin-left: 10px;
	margin-right: 10px;
    text-align: justify;
    text-justify: inter-word;
}

#result
{
    display:flex;
    flex-direction:column;
    align-items: center;
    position: relative;
	max-width: 900px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 8px;
    color: black;
    font-size: 1.2em;
    text-align:center;
    margin-bottom: 25px;
}

#profil_result
{
    background-color: #C0C0C0;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 8px;
    color: black;
    font-size: 1.0em;
    margin-bottom:20px;
    margin-top: 20px;
	margin-left:50px;
	margin-right:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
	max-width:900px;
}

#profil_result p
{
    display:flex;
    flex-direction:row;
}

#profil_result img
{
    height:100px;
    width:100px;
}